.video__data {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    .video__title {
      font-size: 26px;
      margin-bottom: 5px;
    }
    .video__createdAt {
      font-size: 12px;
    }
    .video__owner {
      margin-bottom: 4cqmax;
      font-size: 14px;
      a {
        color: cornflowerblue;
        text-decoration: underline;
      }
    }
  }
  .video__comments {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    .video__comment {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      border-radius: 9999px;
      background-color: #dde9ea;
      color: black;
      margin-bottom: 10px;
    }
    .video__comment-form{
      textarea {
        width: 40%;
        height: 50px;
      }
      background-color: #d6e6f9;
    }
}
.video__add-comments{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .video__comment-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    textarea {
      border-radius: 10px;
      border: none;
      width: 700px;
      height: 70px;
    }
    button {
      background-color: #f6f8fa;
      color: black;
    }
  }
}
.layout_video_set{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  .layout_video_set{
    display: inline;
  }
  .layout_video_set2{
    display: inline;
  }

}
 