extends base.pug
include mixins/video


block content 
    //h1 Home! I love #{potato}
    //input(placeholder = "Whats your name")
    //button send 
    h2 Welcome here you will see the trending videos
    each potatoo in videos
        +video(potatoo) 
    else 
        li sorry It's empty 